{
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "generators": true,
      "restParams": true,
      "destructuring": true
    },
    "rules": {
        "semi": 2
    }
}
