doctype html
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab', type='text/css')
block stylesheets
block title

.container
  block header
  block content

footer
  p.tac.ptl.pbs &copy; Henri Potier 2015

block scripts
