extend layout

block scripts
  script(src='javascripts/vendor.js')
  script(src='javascripts/main.js')
  script(type='text/javascript') require('shop/main');

block header
  header 
    h1= title

block content
  #shop
