extend layout

block stylesheets
  link(rel='stylesheet', href='shop.bundle.css', type='text/css')

block scripts
  script(src='shop.bundle.js')

block title
  title Henri Potier Library

block header
  header
    h1 Henri Potier Library

block content
  #shop
