extend layout

block stylesheets
  link(rel='stylesheet', href='shop.bundle.css', type='text/css')

block scripts
  script(src='shop.bundle.js')

block title
  title La bibliothèque d'Henri Potier

block header
  header
    h1 La bibliothèque d'Henri Potier

block content
  #shop
